
{% extends 'base.html' %}

{% block content %}
<div class="container">
<a class="btn btn-primary btn-block" href="{% url 'jobs:post' %}" role="button">Post a job here &raquo;</a>
<div class="well">
<div class="row">
<div class="col-xs-12 col-sm-6 col-md-3">
    <a href="#" class="list-group-item" >Mathematics</a>
    <a href="#" class="list-group-item">Kiswahili</a>
    <a href="#" class="list-group-item">English</a>
    <a href="#" class="list-group-item">Chemistry</a>
    <a href="#" class="list-group-item">Physics</a>
    <a href="#" class="list-group-item">Biology</a>
    <a href="#" class="list-group-item">Geography</a>
    <a href="#" class="list-group-item">History</a>
    <a href="#" class="list-group-item">Christian Religious Education(CRE)</a>
    <a href="#" class="list-group-item">Islamic Religious Education(IRE)</a>
    <a href="#" class="list-group-item">Agriculture</a>
    <a href="#" class="list-group-item">Business Studies</a>
    <a href="#" class="list-group-item">Home Science</a>
    <a href="#" class="list-group-item">French</a>
    <a href="#" class="list-group-item">Physical Education</a>
    <a href="#" class="list-group-item">Swimming</a>
</div>
</div>
</div>
</div>

{% endblock %}
